@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

 <partial name="_Notification" />


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp;Create new Category</a>
        </div>
    </div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>CategoryId</th>
              <th>CayegoryName</th>
                <th>DisplayOrder</th>
                  <th>CreatedDate</th>
                   <th></th>
                    <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model){
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>@category.CreatedDate</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id ="@category.Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id ="@category.Id" class="btn btn-primary mx-2"> <i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>    
}
    </tbody>
</table>
</div>
